@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --xp-blue: #245edb;
  --xp-light-blue: #3a6ee8;
  --xp-green: #4cbb17;
  --xp-red: #ff0000;
  --xp-yellow: #ffff00;
}

body {
  background-image: url("/windows-xp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Tahoma", sans-serif;

  /* Disable anti-aliasing for rougher text */
  -webkit-font-smoothing: none; /* For Chrome, Safari */
  -moz-osx-font-smoothing: auto; /* For Firefox on macOS */

  image-rendering: pixelated;
}

@layer components {
  .xp-window {
    @apply bg-white rounded-t-lg shadow-lg overflow-hidden;
    border: 1px solid #0054e3;
  }

  .xp-titlebar {
    @apply flex justify-between items-center px-2 py-1 text-white font-bold;
    background: linear-gradient(
      to bottom,
      var(--xp-light-blue),
      var(--xp-blue)
    );
  }

  .xp-button {
    @apply px-3 py-1 text-black;
    background: linear-gradient(to bottom, #f6f6f6, #dcdbdb);
    border: 1px solid #999;
  }

  .xp-button:hover {
    background: linear-gradient(to bottom, #f8f8f8, #e8e8e8);
  }

  .xp-input {
    @apply border border-gray-300 px-2 py-1;
  }
}

@layer utilities {
  .xp-icon {
    @apply w-4 h-4 inline-block mr-2;
  }
}
